

<div *ngIf='hourly.length > 0'>
    <ul class='list-group'>
        <li *ngIf="oneDate" class="list-group-item">
            <h4>Day Total: {{total}}</h4>
        </li>
        <h1 *ngIf="oneDate">{{hourly[0].date}}</h1>
        <br>
        <div class="mach-grid" *ngIf="!machSearch">
            <li class ="list-group-item" *ngFor="let set of splitLots">
                <ul class="list-group">
                    <h2>{{set[0].machine}}</h2>
                    <li class=list-group-item *ngFor="let lot of set; let i = index" >
                        <div>
                            <h5>Date: <strong>{{lot.date}}</strong></h5>
                            <h5>Time: <strong>{{lot.time}}</strong></h5>
                            <h5>Job #: <strong>{{lot.job}}</strong></h5>
                            <h5>Quantity: <strong>{{lot.hard_quantity}}</strong></h5>
                            <h5>Counter: <strong>{{lot.counter_quantity}}</strong></h5>
                            <div class="btn-grid">
                                <button class='btn btn-primary' routerLink="../../edit/{{lot.id}}">Edit This Lot</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </div>
        <div class="mach-grid" *ngIf="machSearch && oneJob">
            <li class ="list-group-item" *ngFor="let set of splitLots">
                <ul class="list-group">
                    <h2>{{set[0].date}}</h2>
                    <li class=list-group-item *ngFor="let lot of set; let i = index" >
                        <div>
                            <h4>Date: {{lot.date}}</h4>
                            <h4>Job #: {{lot.job}}</h4>
                            <h4>Quantity: {{lot.hard_quantity}}</h4>
                            <h4>Counter Quantity: {{lot.counter_quantity}}</h4>
                            <h4>Machine: {{lot.machine}}</h4>
                            <button class='btn btn-primary' routerLink="../../edit/{{lot.id}}">Edit This Lot</button>
                        </div>
                    </li>
                </ul>
            </li>
        </div>
        <div *ngIf="machSearch && !oneJob">
            <li class=list-group-item *ngFor="let lot of hourly; let i = index" >
                <div>
                    <h4>Date: {{lot.date}}</h4>
                    <h4>Job #: {{lot.job}}</h4>
                    <h4>Quantity: {{lot.hard_quantity}}</h4>
                    <h4>Counter Quantity: {{lot.counter_quantity}}</h4>
                    <h4>Machine: {{lot.machine}}</h4>
                    <button class='btn btn-primary' routerLink="../../edit/{{lot.id}}">Edit This Lot</button>
                    <button class='btn btn-info pull-right' routerLink="/day/{{dayServ.dates[i]}}/hourly">Show Day Hourly</button>
                </div>
            </li>
        </div>
    </ul>
</div>
<div *ngIf='hourly.length == 0'>
    <h2> No hourly for this Job # </h2>
</div>
