<div class="container">
  <div class="row">
    <div *ngIf="calc.latheForm && partServ" class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)='calc.onSubmitByWeight()' [formGroup]="calc.latheForm">
        <div class='form-group'>
          <div class='form-group'>
            <label for='cutOff'>Cut Off</label>
            <input 
              type='number' 
              id='cutOff' 
              class='form-control'
              formControlName="cutOff">       
          </div>
          <div class='form-group'>
            <label for='oal'>Over All Length</label>
            <input 
              type='number' 
              id='oal' 
              class='form-control'
              formControlName="oal">       
          </div>
          <div class='form-group'>
            <label for='mainFacing'>Main Spindle Facing</label>
            <input 
              type='number' 
              id='mainFacing' 
              class='form-control'
              formControlName="mainFacing">       
          </div>
          <div class='form-group'>
            <label for='subFacing'>Sub Spindle Facing</label>
            <input 
              type='number' 
              id='subFacing' 
              class='form-control'
              formControlName="subFacing">       
          </div>
          <div class='form-group'>
            <label for='barEnd'>Bar End Length</label>
            <input 
              type='number' 
              id='barEnd' 
              class='form-control'
              formControlName="barEnd">       
          </div>
          <div class='form-group'>
            <label for='material'>Material</label>
            <select 
              formControlName='material'
              id="material" 
              class="form-control">
              <option *ngFor = "let mat of calc.densities">{{mat.material}}</option>
            </select>
          </div>
          <div class='form-group'>
            <label for='type'>Bar Shape</label>
            <select 
              formControlName='type'
              id="type" 
              class="form-control">
              <option *ngFor = "let shape of type">{{shape}}</option>
            </select>     
          </div>
          <div class='form-group'>
            <label *ngIf="calc.latheForm.value.type == 'Hex'" for='barEnd'>Hex Size</label><label *ngIf="calc.latheForm.value.type != 'Hex'" for='barEnd'>Diameter</label>
            <input 
              type='number' 
              id='dia' 
              class='form-control'
              formControlName="dia">       
          </div>
          <div class='form-group'>
            <label for='weight'>Weight Recieved</label>
            <input 
              type='number' 
              id='weight' 
              class='form-control'
              formControlName="weight">       
          </div>
          <div class='form-group'>
            <label for='averageBar'>Average Full Bar</label>
            <input 
              type='number' 
              id='averageBar' 
              class='form-control'
              formControlName="averageBar">       
          </div>
          <div class='form-group'>
            <label for='cutTo'>Bar Cut Size</label>
            <input 
              type='number' 
              id='cutTo' 
              class='form-control'
              formControlName="cutTo">       
          </div>
        <button 
          class="btn btn-primary" 
          type="submit"
          [disabled]="!calc.latheForm.valid"
          >Calculate</button>
    </div>
    <hr>
    <div class="row" *ngIf="calc.submitted">
      <div class='col-xs-12'>
        <h3> Parts Left to Make: {{calc.partsToMake}}</h3>
        <div class='row'>
      </div>
    </div>
    <hr>
    <div class="row" *ngIf="calc.submitted">
      <div class='col-xs-12'>
        <h3> Feet of Material by Weight: {{calc.feet}}'</h3>
        <div class='row'>
      </div>
    </div>
    <hr>
    <div class="row" *ngIf="partServ.partHold.cycle_time">
      <div class='col-xs-12'>
        <h3> Run Hours Remaining: {{calc.partsToMake*partServ.partHold.cycle_time}}</h3>
        <div class='row'>
      </div>
    </div>
  </div>