h2{
    text-align: center;
}

h4{
    text-align: center;
}

.grid { 
    display: grid;
    grid-template-columns: 50% 50%;
}

li{
    margin: 10px 10px 10px 10px;
    list-style-type: none;
}

button{
    margin: 10px 0px 0px 0px
}

.inQuestion{
    border: solid;
    border-color: red;
}