
<form (ngSubmit)='onSubmit()' #data="ngForm"> 
  <div class="form-group">
    <label for="job">Job #:</label>
    <input 
      type="text" 
      id="job" 
      class="form-control"
      ngModel
      name='job'>
      <br>
    <label for="part">Part #:</label>
    <input 
      type="text" 
      id="part" 
      class="form-control"
      ngModel
      name='part'>
      <br>
    <label for="machine">Machine: (Optional)</label>
    <input 
      type="text" 
      id="machine" 
      class="form-control"
      ngModel
      name='machine'
      >
  </div>
  <br>
  <button 
    class="btn btn-primary" 
    type="submit"
    [disabled]="!data.valid"
  >
    Submit
  </button>
  <button 
    type='button' 
    class='btn btn-danger pull-right' 
    (click)='onCancel()'
  >
    Cancel
  </button>
</form>