.grid { 
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.grid2 { 
    display: grid;
    grid-template-columns: 50% 50%;
}

.border{
    border: solid;
}
.white-text{
    color: white;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}