<ul class='list-group'>
    <h1 *ngIf="avail">{{date}}</h1>
    <br>
    <h1 *ngIf="machines.length === 0">Add Machines to status production on!</h1>
    <div class="mach-grid">
        <li class ="list-group-item" *ngFor="let mach of machines; let i=index">
            <ul *ngIf="machines" class="list-group">
                <h2>{{mach.machine}}</h2>
                <div *ngIf="mach.current_job !== 'None'" class="btn-grid">
                    <button 
                        *ngIf="!hourServ.quick[i]" 
                        class="btn btn-info" 
                        (click)="quickInput(i)"
                    >
                        Quick Input
                    </button>
                </div>
                <div class="btn-grid" *ngIf="mach.current_job ==='None'">
                    <button 
                        *ngIf="!hourServ.quick[i]" 
                        class="btn btn-success" 
                        (click)="quickInput(i)"
                    >
                        Set Job
                    </button>                    
                </div>
                <div *ngIf="hourServ.quick[i] && mach.current_job !=='None'">
                    <app-hourly-new-short [index]="i">
                    </app-hourly-new-short>     
                </div>
                <div *ngIf="hourServ.quick[i] && mach.current_job ==='None'">
                    <app-hourly-set-job [index]="i">
                    </app-hourly-set-job>     
                </div>
                <app-hourly-show-each [machine]="mach">
                </app-hourly-show-each>
            </ul>
        </li>
    </div>