<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1 col-md-offset-0">
            <div class="grid">
                <button 
                    *ngIf="!isShown[0]" 
                    class="btn btn-info" 
                    (click)="showLog(0)"
                >
                    Show Machine Changes
                </button>
                <button 
                    *ngIf="isShown[0]" 
                    class="btn btn-info" 
                    (click)="hideLog(0)"
                >
                    Hide Machine Changes
                </button>
                <button 
                    *ngIf="!isShown[1]" 
                    class="btn btn-info" 
                    (click)="showLog(1)"
                >
                    Show Part Changes
                </button>
                <button 
                    *ngIf="isShown[1]" 
                    class="btn btn-info" 
                    (click)="hideLog(1)"
                >
                    Hide Part Changes
                </button>
                <button 
                    *ngIf="!isShown[2]" 
                    class="btn btn-info" 
                    (click)="showLog(2)"
                >
                    Show Hourly Production Changes
                </button>
                <button 
                    *ngIf="isShown[2]" 
                    class="btn btn-info" 
                    (click)="hideLog(2)"
                >
                    Hide Hourly Production Changes
                </button>
                <button 
                    *ngIf="!isShown[3]" 
                    class="btn btn-info" 
                    (click)="showLog(3)"
                >
                    Show Production Lot Changes
                </button>
                <button 
                    *ngIf="isShown[3]" 
                    class="btn btn-info" 
                    (click)="hideLog(3)"
                >
                    Hide Production Lot Changes
                </button>
            </div>
            <div class="grid">
                <div *ngIf="isShown[0]">
                    <app-change-log-set [model]="'Machine'"></app-change-log-set>
                </div>
                <div *ngIf="!isShown[0]">
                </div>
                <div *ngIf="isShown[1]">
                    <app-change-log-set [model]="'Part'"></app-change-log-set>
                </div>
                <div *ngIf="!isShown[1]">
                </div>
                <div *ngIf="isShown[2]">
                    <app-change-log-set [model]="'Hourly'"></app-change-log-set>
                </div>
                <div *ngIf="!isShown[2]">
                </div>
                <div *ngIf="isShown[3]">
                    <app-change-log-set [model]="'Production'"></app-change-log-set>
                </div>
                <div *ngIf="!isShown[3]">
                </div>
            </div>
        </div>
    </div>
</div>