h4 {
    text-align: center;
}
li {
    border: solid;
    border-color: blue;
}
.grid { 
    display: grid;
    grid-template-columns: 20% 15% 30% 5% 30%;
}

.inQuestion{
    border: solid;
    border-color: red;
}

.grid2 { 
    display: grid;
    grid-template-columns: 40% 20% 40%;
}