<li class=list-group-item *ngFor="let lot of hourly; let i = index" >
    <div>
        <h5>Time: <br><strong>{{lot.time}}</strong><br>
        Job #: <br><strong>{{lot.job}}</strong><br>
        Quantity: <br><strong>{{lot.hard_quantity}}</strong>
        <div *ngIf="lot.counter_quantity">Counter: <br><strong>{{lot.counter_quantity}}</strong></div></h5>
        <div class="grid">
            <button class='btn btn-primary' routerLink="edit/{{lot.id}}">Edit</button>
        </div>
    </div>
</li>